.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

media/demo.gif
*.sh
Dockerfile
debug/
frontend/node_modules
frontend/public
frontend/src
frontend/*
frontend/dist/index.html
frontend/dist/favicon.ico
